{% extends "instance_base.html" %}

{% block page_title %} | {{ title }}{% endblock %}

{% block activeexplore %}
{% endblock %}

{# Informational pages retain navigation and branding, without map controls. #}
{% block outermost_atts %}id="otn-information-page"{% endblock %}
{% block search %}{% endblock %}
{% block searchoptions %}{% endblock %}
{% block subhead %}{% endblock %}
{% block export %}{% endblock %}
{% block searchscripts %}{% endblock %}

{% block content %}
<div class="image-background"></div>
<div class="container contained static-page{% if is_faq %} otn-faq-page{% endif %}">
    <div class="row">
        <div class="col-md-12">
          {{ content|safe }}
        </div>
    </div>
</div>
{% endblock content %}
